<div class="container">
<div class="container-fluid">
  {{#if model.rewards}}
	<div class="row">
		<div class="col-md-12">
			<div class="col-md-4">
			</div>
			<div class="col-md-4" style="text-align:center">
				<h4>{{t "account.your_latest_rewards"}}</h4>
				<div class="panel panel-primary panel-body shadow">
					<table class="table table-condensed table-striped">
						{{#each model.sumrewards as |sumreward|}}
						<tr>
							<td>{{sumreward.name}}</td>
							<td><b>{{format-balance sumreward.reward}}</b></td>
						</tr>
						{{/each}}
					</table>
				</div>
			</div>
			<div class="col-md-4">
			</div>
		</div>
	</div>

	<span class="label label-default">{{t "account.sm_immature"}}</span> <span class="label label-success">{{t "account.sm_matured"}}</span>
  <table class="table table-condensed table-striped table-bordered shadow">
    <thead>
      <tr class="table-title">
        <th>{{t "account.block_height"}}</th>
        <th>{{t "account.block_reward"}}</th>
        <th>{{t "account.block_round_share"}}</th>
      </tr>
    </thead>
    <tbody>
      {{#each model.rewards as |tx|}}
        <tr class="table-warning">
          <td>{{format-number  tx.blockheight}}</td>
          <td>
		{{#if tx.immature}}
                        <span class="label label-default">{{format-balance tx.reward}}</span>
                {{else}}
                        <span class="label label-success">{{format-balance tx.reward}}</span>
                {{/if}}
	  </td>
          <td>{{format-number tx.percent style='percent' maximumFractionDigits='6'}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
  {{else}}
  <h3>{{t "account.no_rewards_yet"}}</h3>
  {{/if}}
</div>
</div>