{{outlet 'error' }}
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-4 stats">
        <div style="display: block;">
          <i class="fa fa-cloud"></i> <span class="acclang1">Immature Balance:</span> <span>{{format-balance model.stats.immature}}</span><br>
          <small><span class="acclang2">Preliminary balance awaiting blocks to mature.</span></small>
        </div>
        <div style="display: block;">
          <i class="fa fa-bank"></i> <span class="acclang3">Pending Balance:</span> <span>{{format-balance model.stats.balance}}</span><br>
          <small><span class="acclang4">Credited coins awaiting payout.</span></small>
        </div>
        {{#if model.stats.pending}}
        <div style="display: block;">
          <i class="fa fa-clock-o"></i> <span class="acclang5">Current Payment:</span> <span>{{format-balance model.stats.pending}}</span><br>
        </div>
        {{/if}}
        <div style="display: block;"><i class="fa fa-money"></i> <span class="acclang6">Total Paid:</span> <span>{{format-balance model.stats.paid}}</span></div>
		<div style="display: block;"><i class="fa fa-money"></i> <span class="acclang7">Last 24h Reward:</span> <span>{{format-balance model.24hreward}}</span></div>
      </div>
      <div class="col-md-4 stats">
        {{#if model.stats.lastShare}}
        <div style="display: block;"><i class="fa fa-clock-o"></i>
          <span class="acclang8">Last Share Submitted:</span> <span>{{format-relative (seconds-to-ms (string-to-int model.stats.lastShare))}}</span>
        </div>
        {{/if}}
        <div style="display: block;"><i class="fa fa-gears"></i> <span class="acclang9">Workers Online:</span> <span>{{format-number model.workersOnline}}</span></div>
        <div style="display: block;"><i class="fa fa-tachometer"></i> <span class="acclang10">Hashrate (30m):</span> <span>{{format-hashrate model.currentHashrate}}</span></div>
        <div style="display: block;"><i class="fa fa-tachometer"></i> <span class="acclang11">Hashrate (3h):</span> <span>{{format-hashrate model.hashrate}}</span></div>
      </div>
      <div class="col-md-4 stats">
        <div style="display: block;"><i class="fa fa-tachometer"></i> <span class="acclang12">Blocks Found:</span> <span>{{format-number model.stats.blocksFound fallback='0'}}</span></div>
        <div style="display: block;"><i class="fa fa-paper-plane-o"></i> <span class="acclang13">Total Payments:</span> <span>{{format-number model.paymentsTotal}}</span></div>
        <div style="display: block;">
          <i class="fa fa-gears"></i> <span class="acclang14">Your Round Share:</span> <span>{{format-number roundPercent style='percent' maximumFractionDigits='6'}}</span><br/>
          <small><span class="acclang15">Percent of your contribution to current round.</span></small>
        </div>
        <div style="display: block;">
          <i class="fa fa-clock-o"></i>
          <span class="acclang16">Epoch Switch:</span> <span>{{format-relative applicationController.nextEpoch units="hour"}}</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">

  <ul class="nav nav-tabs">
    {{#active-li currentWhen='account.index' role='presentation'}}
      {{#link-to 'account.index'}}<span class="acclang17">Workers</span> <span class="badge alert-success">{{model.workersOnline}}</span><span class="badge alert-danger">{{model.workersOffline}}</span>{{/link-to}}
    {{/active-li}}
    {{#active-li currentWhen='account.rewards' role='presentation'}}
      {{#link-to 'account.rewards'}}<span class="acclang18">Rewards</span>{{/link-to}}
    {{/active-li}}
    {{#active-li currentWhen='account.payouts' role='presentation'}}
      {{#link-to 'account.payouts'}}<span class="acclang19">Payouts</span>{{/link-to}}
    {{/active-li}}
  </ul>
</div>

{{outlet}}
