{{outlet 'error' }}
<div class="jumbotron">
<div class="container-fluid">
	<div class="row">
		<div class="col-md-4">
			<div class="panel panel-primary panel-body shadow">
				<div style="display: block;">
					<i class="fa fa-cloud"></i> {{t "account.immature.balance"}}: <span><b>{{format-balance model.stats.immature}}</b></span><br>
					<small>{{t "account.immature.description"}}</small>
				</div>
				<div style="display: block;">
					<i class="fa fa-bank"></i> {{t "account.pending.balance"}}: <span><b>{{format-balance model.stats.balance}}</b></span><br>
					<small>{{t "account.pending.description"}}</small>
				</div>
				{{#if model.stats.pending}}
				<div style="display: block;">
					<i class="fa fa-clock-o"></i> {{t "account.current"}}: <span><b>{{format-balance model.stats.pending}}</b></span><br>
				</div>
				{{/if}}
				<div style="display: block;"><i class="fa fa-money"></i> {{t "account.total.paid"}}: <span><b>{{format-balance model.stats.paid}}</b></span>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="panel panel-primary panel-body shadow">
			{{#if model.stats.lastShare}}
				<div style="display: block;"><i class="fa fa-clock-o"></i>
					{{t "account.last_share_submitted"}}: <span><b>{{format-relative (seconds-to-ms (string-to-int model.stats.lastShare))}}</b></span>
				</div>
			{{/if}}
				<div style="display: block;"><i class="fa fa-gears"></i> {{t "account.online"}}: <span><b>{{format-number model.workersOnline}}</b></span></div>
				<div style="display: block;"><i class="fa fa-tachometer"></i> {{t "account.hashrate"}} (30m): <span><b>{{format-hashrate model.currentHashrate}}</b></span></div>
				<div style="display: block;"><i class="fa fa-tachometer"></i> {{t "account.hashrate"}} (3h): <span><b>{{format-hashrate model.hashrate}}</b></span></div>
				<div style="display: block;"><i class="fa fa-calculator"></i> {{t "account.earnings.perday"}} (3h avg): <span><b>{{format-number earnPerDay}} {{config.Unit}}</b></span></div>
			</div>
		</div>	
		<div class="col-md-4">
			<div class="panel panel-primary panel-body shadow">
				<div style="display: block;"><i class="fa fa-tachometer"></i> {{t "account.blocks.found"}}: <span><b>{{format-number model.stats.blocksFound fallback='0'}}</b></span></div>
				<div style="display: block;"><i class="fa fa-paper-plane-o"></i> {{t "account.total.payments"}}: <span><b>{{format-number model.paymentsTotal}}</b></span></div>
				<div style="display: block;">
					<i class="fa fa-gears"></i> {{t "account.round_share"}}: <span><b>{{format-number roundPercent style='percent' maximumFractionDigits='6'}}</b></span><br/>
					<small>{{t "account.round_share_description"}}</small>
				</div>
				<div style="display: block;">
					<i class="fa fa-clock-o"></i>
					{{t "account.epoch_switch"}}: <span><b>{{format-relative applicationController.nextEpoch units="hour"}}</b></span>					
				</div>
			</div>
		</div>
	</div>
</div>
</div>


<div class="container">
  <ul class="nav nav-tabs2 shadow">
    {{#active-li currentWhen='account.index' role='presentation'}}
      {{#link-to 'account.index'}}{{t "account.workers"}} <span class="badge alert-success">{{model.workersOnline}}</span><span class="badge alert-danger">{{model.workersOffline}}</span>{{/link-to}}
    {{/active-li}}
    {{#active-li currentWhen='account.rewards' role='presentation'}}
      {{#link-to 'account.rewards'}}{{t "account.rewards"}}{{/link-to}}
    {{/active-li}}
    {{#active-li currentWhen='account.payouts' role='presentation'}}
      {{#link-to 'account.payouts'}}{{t "account.payouts"}}{{/link-to}}
    {{/active-li}}
  </ul>
</div>

{{outlet}}