<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
      <a id="ember328" href="#/" class="ember-view active"><img src="/title.png" height="45"></a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        {{#active-li currentWhen='help'}}
          {{#link-to 'help'}}
            <i class="fa fa-rocket"></i> <span class="applang1">Help</span>
          {{/link-to}}
        {{/active-li}}
        {{#active-li currentWhen='blocks'}}
          {{#link-to 'blocks'}}
            <i class="fa fa-cubes"></i> <span class="applang2">Pool Blocks</span>
            {{#if immatureTotal}}
              <span class="badge alert-success">{{immatureTotal}}</span>
            {{/if}}
          {{/link-to}}
        {{/active-li}}
        {{#active-li currentWhen='payments'}}
          {{#link-to 'payments'}}
            <i class="fa fa-paper-plane-o"></i> <span class="applang3">Payments</span>
          {{/link-to}}
        {{/active-li}}
        {{#active-li currentWhen='miners'}}
          {{#link-to 'miners'}}
            <i class="fa fa-users"></i> <span class="applang4">Miners</span>
          {{#if model.minersTotal}}
              <span class="badge alert-success">{{model.minersTotal}}</span>
          {{/if}}
          {{/link-to}}
        {{/active-li}}
        {{#active-li currentWhen='about'}}
          {{#link-to 'about'}}
            <i class="fa fa-comments"></i> <span class="applang5">About</span> <span class="badge alert-success">&#x2713;</span>
          {{/link-to}}
        {{/active-li}}
		
                        <li>
                            <a class="fa fa-money" title="{{config.COIN}} Current Price">
                                {{#if isPercentAboveZero}}
                                    ${{format-number model.exchangedata.price_usd maximumFractionDigits='2'}} <span class="badge alert-success"><i class="fa fa-caret-up"></i> (+{{model.exchangedata.percent_change_24h}}%)</span>
                                {{else}}
                                    ${{format-number model.exchangedata.price_usd maximumFractionDigits='2'}} <span class="badge alert-danger"><i class="fa fa-caret-down"></i> ({{model.exchangedata.percent_change_24h}}%)</span>
								{{/if}}
                            </a>
                        </li>

                    <li class="dropdown">
                        <a href="javascript:;">&nbsp;&nbsp;<i class="fa fa-cog"></i>&nbsp;<span class="trlang">Language</span></a>
                        <ul class="dropdown-content-lang">
                            <li>
                                <a class="english" id="english" href="javascript:;" onclick="testch(this.id)">
									<span class="badge alert-success">English</span>
                                </a>
                            </li>
                            <li>
                                <a class="russian" id="russian" href="javascript:;" onclick="testch(this.id)">
									<span class="badge alert-success">Русский</span>
                                </a>
                            </li>
                            <li>
                                <a class="ukrainian" id="ukrainian" href="javascript:;" onclick="testch(this.id)">
									<span class="badge alert-success">Українська</span>
                                </a>
                            </li>
                        </ul>
                    </li>
						
      </ul>
    </div>
  </div>
</div>

{{outlet}}
