<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
    <img id="ember328" class="ember-view active" src="/img/coin-pirl.png" height="45">&nbsp;<span><b>PIRL Pool</b></span>&nbsp;
	</div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav" >
	          {{#active-li currentWhen='index'}}
          {{#link-to 'index'}}
            <i class="fa fa-home"></i> Home
          {{/link-to}}
        {{/active-li}}
		
		
{{#active-li}}
          <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-align-justify"></i>&nbsp;Pools<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="https://eth.fatboymine.com" target="_blank">
			<span>
			<img src="/img/coin-eth.png" class="align-content-center" style="width: 100%; height: auto; max-height: 30px;max-width: 30px;">
			&nbsp;Ethereum (ETH)
			</span>
			</a></li>
            <li><a href="https://ella.fatboymine.com" target="_blank">
			<span>
			<img src="/img/coin-ella.png" class="align-content-center" style="width: 100%; height: auto; max-height: 30px;max-width: 30px;">
			&nbsp;Ellaism (ELLA)
			</span>
			</a></li>
            <li>
			<a href="https://pirl.fatboymine.com" target="_blank">
			<span>
			<img src="/img/coin-pirl.png" class="align-content-center" style="width: 100%; height: auto; max-height: 30px;max-width: 30px;">
			&nbsp;Pirl (PIRL)
			</span>
			</a>
			</li>
          </ul>
        {{/active-li}}
	  
        {{#active-li currentWhen='help'}}
          {{#link-to (t 'menu.i18n.help')}}
            <i class="fa fa-rocket"></i> {{t 'menu.help'}}
          {{/link-to}}
        {{/active-li}}
        {{#active-li currentWhen='blocks'}}
          {{#link-to 'blocks'}}
            <i class="fa fa-cubes"></i> {{t 'menu.pool_blocks'}}
            {{#if immatureTotal}}
              <span class="badge alert-success">{{immatureTotal}}</span>
            {{/if}}
          {{/link-to}}
        {{/active-li}}
        {{#active-li currentWhen='payments'}}
          {{#link-to 'payments'}}
            <i class="fa fa-paper-plane-o"></i> {{t 'menu.payments'}}
          {{/link-to}}
        {{/active-li}}
        {{#active-li currentWhen='miners'}}
          {{#link-to 'miners'}}
            <i class="fa fa-users"></i> {{t 'menu.miners'}}
          {{#if model.minersTotal}}
              <span class="badge alert-success">{{model.minersTotal}}</span>
          {{/if}}
          {{/link-to}}
        {{/active-li}}
        {{#active-li currentWhen='about'}}
          {{#link-to (t 'menu.i18n.about')}}
            <i class="fa fa-comments"></i> {{t 'menu.about'}} <span class="badge alert-success">&#x2713;</span>
          {{/link-to}}
        {{/active-li}}
		{{#active-li}}
			<a class="fa fa-money" title="{{config.COIN}} Current Price">
				{{#if isPercentAboveZero}}
					${{format-number model.exchangedata.price_usd maximumFractionDigits='2'}} <span class="badge alert-success"><i class="fa fa-caret-up"></i> (+{{model.exchangedata.percent_change_24h}}%)</span>
				{{else}}
					${{format-number model.exchangedata.price_usd maximumFractionDigits='2'}} <span class="badge alert-danger"><i class="fa fa-caret-down"></i> ({{model.exchangedata.percent_change_24h}}%)</span>
				{{/if}}
			</a>
        {{/active-li}}
		{{#active-li}}
				<a class="nav-item nav-link dropdown-toggle" data-toggle="dropdown" id="selectedLanguage">
					{{selectedLanguage}}
					<b class="caret"></b>
				</a>
				<ul class="dropdown-menu dropdown-menu-right">
					{{#each languages as |lang|}}
						<li>
							<a href="#" {{action 'selectLanguage' lang.value on='click'}}>{{lang.name}}</a>
						</li>
					{{/each}}
				</ul>
        {{/active-li}}
	</ul>
    </div>
  </div>
</div>

{{outlet}}