<div class="jumbotron">
<div class="container-fluid">
	<div class="row">
		<div class="col-md-4">
			<div class="panel panel-primary panel-body shadow">
				<strong>Min. payout threshold: {{config.PayoutThreshold}}</strong><br/>
				<span class="label label-success">PPLNS</span> Real time PPLNS payout scheme.<br/>
				<span class="label label-success">24/365</span> Unstoppable server infrastructure with 24/365 customer support.<br/>
			</div>
		</div>
		<div class="col-md-4">
			<div class="panel panel-primary panel-body shadow">
				<div><i class="fa fa-users"></i> {{t "home.miners_online"}}: <span id="poolHashrate"><b>{{format-number stats.model.minersTotal}}</b></span></div>
				<div><i class="fa fa-tachometer"></i> {{t "home.pool_hashrate"}}: <span id="poolHashrate"><b>{{format-hashrate stats.model.hashrate}}</b></span></div>
				<div><i class="fa fa-money"></i> {{t "home.pool_fee"}}: <span id="poolFee" class="label label-success"><b>{{config.PoolFee}}</b></span></div>
				{{#if stats.model.stats.lastBlockFound}}
					<div><i class="fa fa-clock-o"></i> {{t "home.last_block_found"}}: <span><b>{{format-relative (seconds-to-ms stats.model.stats.lastBlockFound)}}</b></span></div>
				{{/if}}
			</div>
		</div>	
		<div class="col-md-4">
			<div class="panel panel-primary panel-body shadow">
				<div><i class="fa fa-unlock-alt"></i> {{t "home.network_difficulty"}}: <span><b>{{with-metric-prefix stats.difficulty}}</b></span></div>
				<div><i class="fa fa-tachometer"></i> {{t "home.network_hashrate"}}: <span><b>{{format-hashrate stats.hashrate}}</b></span></div>
				<div><i class="fa fa-bars"></i> {{t "home.blockchain_height"}}: <span><b>{{format-number stats.height}}</b></span></div>
				<div><i class="fa fa-clock-o"></i> {{t "home.current_round_variance"}}: <span><b>{{format-number stats.roundVariance style='percent'}}</b></span></div>
			</div>
		</div>
	</div>
</div>
</div>

<div class="container">
<div>
  {{high-charts mode=chartMode chartOptions=chartOptions content=chartData}}
  </div>
  <div class="stats">
    <h4>{{t "home.query_history"}}</h4>
    <div class="input-group">
      {{input value=cachedLogin class="form-control" placeholder=(t "home.input.enter_your_wallet_address")}}
      <span class="input-group-btn">
        <button class="btn btn-primary" type="button" {{action 'lookup' cachedLogin}}>
          <span style="display: inline;"><i class="fa fa-search"></i> {{t "home.button.lookup"}}</span>
        </button>
      </span>
    </div>
  </div>
<div>

<h4>Connection info</h4>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-4">
			<table class="table table-bordered table-sm shadow">
				<thead>
					<tr class="table-title">
						<th>
							Country
						</th>
						<th>
							Ping to Pool
						</th>
					</tr>
				</thead>
				<tbody>
					<tr class="table-warning">
						<td>
							Ukraine
						</td>
						<td>
							<span class="label label-success" id="ping-ua">{{startPingHelper "https://fatboymine.com" "selector"}}</span>
						</td>
					</tr>
					<tr class="table-warning">
						<td>
							Poland
						</td>
						<td>
							<span class="label label-success">5-13 ms</span>
						</td>
					</tr>
					<tr class="table-warning">
						<td>
							Moldova
						</td>
						<td>
							<span class="label label-success">20-28 ms</span>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<div class="col-md-4">
			<table class="table table-bordered table-sm shadow">
				<thead>
					<tr class="table-title">
						<th>
							Country
						</th>
						<th>
							Ping to Pool
						</th>
					</tr>
				</thead>
				<tbody>
					<tr class="table-warning">
						<td>
							Latvia
						</td>
						<td>
							<span class="label label-success">15-21 ms</span>
						</td>
					</tr>
					<tr class="table-warning">
						<td>
							Lithuania
						</td>
						<td>
							<span class="label label-success">15-21 ms</span>
						</td>
					</tr>
					<tr class="table-warning">
						<td>
							Russia
						</td>
						<td>
							<span class="label label-success" id="ping-ru"> ms</span>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<div class="col-md-4">
			<table class="table table-bordered table-sm shadow">
				<thead>
					<tr class="table-title">
						<th>
							Country
						</th>
						<th>
							Ping to Pool
						</th>
					</tr>
				</thead>
				<tbody>
					<tr class="table-warning">
						<td>
							Belarus
						</td>
						<td>
							<span class="label label-success">17-45 ms</span>
						</td>
					</tr>
					<tr class="table-warning">
						<td>
							Germany
						</td>
						<td>
							<span class="label label-success">30-60 ms</span>
						</td>
					</tr>
					<tr class="table-warning">
						<td>
							Georgia
						</td>
						<td>
							<span class="label label-success">50-60 ms</span>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<br>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-4">
			<div class="panel panel-primary panel-body shadow" style="text-align:center">
				<h5>
					<span class="label label-success">2b</span>&nbsp;<a href="./#/help" title="CLICK FOR HELP"><b>RIG HASHRATE &lt; 150 MH/s</b></a>
					<br>
					(difficulty 2 billion)
					<br><br>
					<b>Stratum Mining:</b>
					<br><br>
					<code>stratum+tcp://{{config.StratumHost}}:{{config.StratumPort2b}}</code>
					<hr>
					<b>Getwork Mining:</b>
					<br><br>
					<code>{{config.HttpHost}}:{{config.HttpPort2b}}</code>
				</h5>
			</div>
		</div>
		<div class="col-md-4">
			<div class="panel panel-primary panel-body shadow" style="text-align:center">
				<h5 >
					<span class="label label-success">4b</span>&nbsp;<a href="./#/help" title="CLICK FOR HELP"><b>WORKER / NICEHASH 150 - 800 MH/s</b></a>
					<br>
					(difficulty 4 billion)
					<br><br>
					<b>Stratum Mining:</b>
					<br><br>
					<code>stratum+tcp://{{config.StratumHost}}:{{config.StratumPort4b}}</code>
					<hr>
					<b>Getwork Mining:</b>
					<br><br>
					<code>{{config.HttpHost}}:{{config.HttpPort4b}}</code>
				</h5>
			</div>
		</div>	
		<div class="col-md-4">
			<div class="panel panel-primary panel-body shadow" style="text-align:center">
				<h5 >
					<span class="label label-success">9b</span>&nbsp;<a href="./#/help" title="CLICK FOR HELP"><b>WORKER / NICEHASH &gt; 800 MH/s</b></a>
					<br>
					(difficulty 9 billion)
					<br><br>
					<b>Stratum Mining:</b>
					<br><br>
					<code>stratum+tcp://{{config.StratumHost}}:{{config.StratumPort9b}}</code>
					<hr>
					<b>Getwork Mining:</b>
					<br><br>
					<code>{{config.HttpHost}}:{{config.HttpPort9b}}</code>
				</h5>
			</div>
		</div>
	</div>
</div>
<br>
    <h4 class="note note-info text-center">
      <b>Support:</b>
      <br><br>
      Mail:&nbsp;&nbsp;<a href="mailto:support@fatboymine.com">support@fatboymine.com</a>
      <br>
      Discord:&nbsp;&nbsp;join <a href="" target="_new">Official FatBoyMine Discord</a>
      <br>
      <font size="-1">(Discord - coming soon)</font>
    </h4>
  </div>
</div>