<div class="jumbotron">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-primary panel-body shadow">
					<p class="lead">{{t "miners.total_hashrate"}}: <strong>{{format-hashrate model.hashrate}}</strong>.</p>
					<strong>{{t "miners.total_miners"}}:</strong> <span class="label label-info">{{model.minersTotal}}</span>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container">
  <div class="stats">
    <h4>{{t "home.query_history"}}</h4>
    <div class="input-group">
      {{input value=cachedLogin class="form-control" placeholder=(t "home.input.enter_your_wallet_address")}}
      <span class="input-group-btn">
        <button class="btn btn-primary" type="button" {{action 'lookup' cachedLogin}}>
          <span style="display: inline;"><i class="fa fa-search"></i> {{t "home.button.lookup"}}</span>
        </button>
      </span>
    </div>
  </div>
</div>
<div class="container">
  {{#if model.miners}}
  <h4>{{t "miners.miners"}}</h4>
  <div class="table-responsive">
    <table class="table table-condensed table-striped table-bordered">
      <thead>
        <tr class="table-title">
          <th>{{t "miners.login"}}</th>
          <th>{{t "miners.hashrate"}}</th>
          <th>{{t "miners.last_beat"}}</th>
        </tr>
      </thead>
      <tbody>
        {{#each model.miners as |m|}}
        <tr class="{{if m.offline "warning"}} table-warning">
          <td>{{#link-to 'account' m.login class='hash'}}{{m.login}}{{/link-to}}</td>
          <td>{{format-hashrate m.hr}}</td>
          <td>{{format-date-locale m.lastBeat}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  {{else}}
  <h3>{{t "miners.no_miners"}}</h3>
  {{/if}}
</div>
