<div class="jumbotron">
  <div class="container">
    <p class="lead">Total hashrate: {{format-hashrate model.hashrate}}.</p>
    <strong>Total miners:</strong> <span class="label label-info">{{model.minersTotal}}</span>
    <div class="input-group" style="margin-top: 20px;">
        {{input value=cachedLogin class="form-control m-input m-input--air" placeholder="Enter Your Wallet Address"}}
        <span class="input-group-btn">
                                <button class="btn m-btn m-btn--gradient-from-primary m-btn--gradient-to-info" type="button" {{action 'lookup' cachedLogin}}>
                                  <span style="display: inline;"><i class="fa fa-search"></i> Lookup</span>
                                </button>
                            </span>
    </div>
  </div>
</div>
<div class="container">
  {{#if model.miners}}
  <h4>Miners</h4>
  <div class="table-responsive">
    <table class="table table-condensed table-striped">
      <thead>
        <tr>
          <th>Login</th>
          <th>Hashrate</th>
          <th>Last Beat</th>
        </tr>
      </thead>
      <tbody>
        {{#each model.miners as |m|}}
        <tr class="{{if m.offline "warning"}}">
          <td>{{#link-to 'account' m.login class='hash'}}{{m.login}}{{/link-to}}</td>
          <td>{{format-hashrate m.hr}}</td>
          <td>{{format-date-locale m.lastBeat}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  {{else}}
  <h3>No miners</h3>
  {{/if}}
</div>
